#root {
    display:flex;
    padding: 2rem;
    text-align: center;
    height:100%;
    width:100%;
    margin: 0 auto;
    font-size: 3rem;
}
.main{
    height:100%;
    width:100%;
}
.Link-Card{
    border:solid rgb(118, 146, 124);
    border-radius: 135px;
    background-color: rgb(44, 33, 56);
    border-width:10px;
    display:flex;
    flex-flow: row nowrap;
    width:auto;
    min-height:10%;
    justify-content: center;
    align-items: center;
    margin:1.5rem;
}
.upvoteBtn{
    background-color: green;
    border-radius: 5rem;
    border-color:grey;

    border-radius: 5rem;
    border-style: inset;
    border-width: 1rem;
}
.downvoteBtn{
    background-color: red;
    border-radius: 5rem;
    border-style: inset;
    border-width: 1rem;
    border-color:grey;
}
.main-container{
    border:solid rgb(84, 230, 27);
    display:flex;
    justify-content: center;;
    flex-flow:row nowrap;
    width:100%;
}
.LinkCards{
    display:flex;
    flex-flow:column nowrap;
    min-width: 30%;
    overflow-y: scroll;
    width:100%;
    
}
.card-img{
    max-width: 80%;
    border:inset;
    border-radius: 315px;
}
.upVotes{
    display: flex;
    border: solid rgb(12, 105, 74);
}
.downVotes{
    display:flex;
    justify-items:middle;
}
.feed{
    border:solid purple;
    grid-area: feed;
}
.up{
    background-color: rgb(115, 155, 115);
}
.down{
    background-color: rgb(141, 116, 121);
}
.Link-Card-Content{
    display:flex;
    flex-flow: column nowrap;
    flex-grow:1;
    border:solid rgb(25, 134, 10);
    background-color:rgb(64, 57, 70);
}

.PeerCards{
    border:solid green;
    border-width: 10px;;
    display:flex;
    flex-flow: column nowrap;
}
.Peer-Card{
    border:solid red;
    width:fit-content;
    border-radius:3rem;
}
.Peer-Card:hover{
    background-color:rgba(0, 0, 255, 0.295);
}
.selected{
    background-color: rgba(25, 112, 25, 0.562);
}
.Keep-Btn{

    background-color: green;
    border-radius: 5rem;
    border-color:grey;

    border-radius: 5rem;
    border-style: inset;
    border-width: 1rem;
}
.Remove-Btn{

    background-color: red;
    border-radius: 5rem;
    border-color:grey;

    border-radius: 5rem;
    border-style: inset;
    border-width: 1rem;
}

.inputDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    display:flex;
    width:80%;
    padding:3rem;
    flex-flow:column;

}
.newForm{
    font-size:3.5rem;
    display:flex;
    flex-flow:column nowrap;
    justify-items:center;
    align-items: center;
    border:1rem dotted green;
    border-radius: 4rem;
    background-color: rgba(64, 146, 67, 0.607);
    color:rgb(3, 118, 3);
}
.inputDiv>label{
    border:solid rgb(0, 255, 47);
    border-radius: 3rem;
    padding-block:.5rem;
    padding-inline:1rem;
    align-items: start;
    display:flex;
    align-self: start;
    background-color: #d6badf;
    color:black;
}
.inputDiv>input{
    font-size: 4rem;
    height:10rem;
    width:80%;
}
.inputDiv>textarea{
    font-size: 4rem;

    height:10rem;
    width:80%;
}
.card-body{
    display:flex;
    flex-flow:row;
    justify-content: center;
}
.card-title{
    display: flex;
    border:solid green;
    font-size:larger;
}
.card-text{
    display:flex;
    border:solid red;
}
.Peers{
    background:red;
    display: flex;
    flex-flow: column nowrap;
    width:fit-content;
}
.Saved{
    display:flex;
    border:solid green;

}


.Avoid{
    display:flex;
    border:solid purple;
    margin:0 auto;
}

.UnScored{
    display:flex;
    border:solid purple;


}
.horizontal-flex{
display:flex;
flex-flow: row nowrap;
justify-content: center;
}



.vertical-flex{

    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    }
